**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.idea/
target/
*.iml
META-INF
out/
logs/
Log_Eventtimer_Except.rtf
Log_Packet_error.txt
Log_Script_Except.txt
amherst.properties
/out/
ClientErrorPacket.txt
amherst.json
